# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
dist-seed/
build/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/dev.db
apps/api/src/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# testing
coverage/
